// schwartzmedia.scss
%categoryTitle {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 35px;
}

%btn {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  border: 1px solid rgba($color: #000000, $alpha: 0.3);
  padding: 8px 30px;
  border-radius: 20px;
  font-weight: 600;
  margin-right: 5px;
  transition: background-color linear 0.3s;
  &:hover {
    color: white;
    background-color: black;
  }
}

// paint-box.scss
%miniTitle {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 2px;
}

// donicaida.scss
%grid {
  display: grid;
  grid-template-columns: 0.8fr 3fr 5fr;
}

%tinyText {
  font-size: 13px;
  font-family: "Nunito";
}
