// besthorrorscenes.css
$red: #e7473c;
$white: #f0eff0;
$fixedWidth: 33%;

// paint-box.css
$bg: #f3ede8;
$sideSpace: 140px;

// 10x19.css
$bg-10x19: #af7732;

// schwartzmedia.css
$fontMedium: 30px;
$border: 0.5px solid rgba(0, 0, 0, 0.3);
